<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Reviews Scraper</title>
</head>
<body>
    {% include 'navbar.html' %}

    <!-- The block tags are where all the child templates will be rendered if they extend main.html -->
    <!-- bear in mind that the same block tags will have to be referenced in the child templates -->
    {% block content %}
    {% endblock content %}

    <hr>
    <footer>© 2022 Brand Reviews Scraper All rights reserved</footer>
</body>
</html>